{% extends "::base.html.twig" %}

{% block title %}RenaissanceBundle:News:index{% endblock %}

{% block body %}
<h1>Aktualności</h1>

{% for item in news %}
	<p>
		<a href="{{ path('news_show', {'year': item.creationDate|date('Y'), 'month': item.creationDate|date('m'), 'day': item.creationDate|date('d'), 'title': item.slug}) }}">{{ item.title }}</a>
		{#<a href="{{ path('news_index') }}/{{ item.creationDate|date('Y/m/d') }}/{{ item.slug }}">{{ item.title }}</a>#}
	</p>
{% endfor %}


{# {% else %}
	Jakoś brak newsa :(
{% endif %} #}

{% endblock %}
